 <!--SECTION EXPERIENCES-->

	<section id="section3" class="cd-section">
		<div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		        <h1>Experience</h1>
                <div class="col-md-6">
                    <div class="box-text">
                            <h2>MY Journey so far</h2>
                            <p>
								My first contact with Web Development was back in early 2014 when i was looking for another area of expertise to work. I started reading about Web Development and the more read, the more the interest grew in me. So i decided to invest in this field and get some actual classes in the subject.
                            </p>
							<p>
								During this time, every little spare time i had, i spent it online doing tutorials and reading more on Web Development.
							</p>
							<p>1 year has passed since my 1st contact with this area, and the passion i have for Front End just keeps growing for every day that passes and so are my skills...</p>
                        </div>
                </div>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">

                        <div class="box-text">
                        <h2>MY Skills</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
								    <p>HTML5<span>95%</span></p>
								    <div class="meter nostrips">
									    <p style="width: 95%"></p>
								    </div>
								    <p>CSS/LESS<span>90%</span></p>
								    <div class="meter nostrips">
									    <p style="width: 90%"></p>
								    </div>
									<p>Bootstrap<span>95%</span></p>
								    <div class="meter nostrips">
									    <p style="width: 95%"></p>
								    </div>
								    <p>Javascript/Jquery<span>80%</span></p>
								    <div class="meter nostrips">
									    <p style="width: 80%"></p>
								    </div>
								    <p>AngularJs<span>65%</span></p>
								    <div class="meter nostrips">
									    <p style="width: 65%"></p>
								    </div>
							    </div>
						    </div>
                        </div>
				    </div>
			    </div>
              </div>
            </div>
		  </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <!--<div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Front-End Developer<span class="data">2013 - 2015</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus.
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>-->
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Front-End Web Developer @ Ogilvy&Mather<span class="data">2015 - Current</span></h2>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Flag.pt Web developer & Mobile Course<span class="data">2014 - 2015</span></h2>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Degree in Physical Education and Sports<span class="data">2003 - 2007</span></h2>
                   </div>
                 </div>
              </div>
         </div>
      </div>
	</section><!-- cd-section -->
<script>
	$(function() {
	    try {

	                var skillBar = $('.skills-progress');
	                skillBar.appear(function () {

	                    var animateElement = $(".meter > p");
	                    animateElement.each(function () {
	                        $(this)
						        .data("origWidth", $(this).width())
						        .width(0)
						        .animate({
						            width: $(this).data("origWidth")
						        }, 1800);
	                    });

	                });
	            } catch (err) {
	        }
	});
</script>
