	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO AM I </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>HISTORY</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo accusamus possimus repellat molestias perferendis, quod perspiciatis reiciendis, totam nostrum placeat facilis odio quos ex modi voluptates dolorum neque natus provident distinctio tempore necessitatibus laboriosam iste. Corporis soluta praesentium quasi quidem, saepe expedita dolores. Rem, veritatis impedit perspiciatis, quo mollitia aliquid.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto est tempora minus quae. Necessitatibus ex placeat, blanditiis at odio quidem.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/office.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 05/11/1980</p>
                        <p>Phone: +12-345-6789</p>
                        <p>E-mail: info@minime.com</p>
                        <h2>Education</h2>
                        <p>Academy of Art University</p>
                        <p>IT Technical Institute</p>
                        <p>Web Design School</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>miniMe restore client-focused potentialities rather than functional strategic theme areas.
                            Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero.</p>
                            <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. </p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->
