	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO AM I </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>HISTORY</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore veniam eaque repellendus maiores nobis, deleniti magnam ipsum, sed. Ab ipsum quaerat temporibus, maiores facere unde. Provident nam, tenetur tempore dignissimos numquam omnis consectetur tempora. Quis inventore officia, id maiores omnis ad. Voluptatibus maiores reiciendis facilis quasi adipisci velit dolorum similique.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, id.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" class="img-responsive center-block"/>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 24/11/1981</p>
                        <p>Phone: 91 627 83 05</p>
                        <p>E-mail: brunocfeijao@gmail.com</p>
                        <h2>Front-End Developer</h2>
                        <p>HTML5</p>
                        <p>CSS/LESS</p>
                        <p>Javascript/Jquery/AngularJs</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur vitae minima laboriosam, magni voluptatibus, voluptate sed aspernatur ab molestiae blanditiis maxime facere itaque a nulla earum exercitationem. Est tempore nemo, aperiam earum sint velit totam consectetur dolor culpa alias, repudiandae fugit asperiores nisi, animi soluta ullam, maxime sunt ratione quam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, obcaecati.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->
