	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO AM I </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>About Me</h2>
                        <p>
                            My name is Bruno Feijão, and i'm a Front End Web Developer from Lisbon,Portugal. I'm a code enthusiast and i love creating/designing Websites.
                        </p>
                        <p>Outside of work my main interests are music, cycling, gaming and spending time with my wife and my 2 cats...</p>
                        <p>I invite you to explore some of my latest work and see what i'm capable of doing...</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/faceintro.jpg" alt="" class="img-responsive center-block"/>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 24/11/1981</p>
                        <p>Phone: 91 627 83 05</p>
                        <p>E-mail: brunocfeijao@gmail.com</p>
                        <h2>Front-End Developer</h2>
                        <p>HTML5</p>
                        <p>CSS/LESS</p>
                        <p>Javascript/Jquery/AngularJs</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>
                            I specialize in the Front End aspect of Web Development. It's my passion and it's what i love to do.
                        </p>
                        <p>My goal is to create unique and enganging experiences for the user.</p>
                        <p>What i lack in years of experience i compensate with the thirst for knowledge,willingness to learn and natural curiosity.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->
