
/* ------------------------------------------
  RESET STYLES
--------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
	-webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	outline: none;
	text-decoration: none;
}



/* ------------------------------------------
  GENERAL STYLES
--------------------------------------------- */

p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #616161;
	font-size: 10px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	line-height: 1.6em;
	color: #616161;
	text-decoration: none;
	font-size: 20px;
}
h2 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #616161;
	text-decoration: none;
	font-size: 16px
}
h3 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #616161;
	text-decoration: none;
	font-size: 14px;
}
h4 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #616161;
	text-decoration: none;
	font-size: 12px;
}
h5 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #ababab;
	text-decoration: none;
	font-size: 10px;
}
h6 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #ababab;
	text-decoration: none;
	font-size: 8px;
}

input#search{
    font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #616161;
	text-decoration: none;
	font-size: 16px
}
/* ------------------------------------------
  MAIN STYLES
--------------------------------------------- */
div#main {
	width: 360px;
	margin: 0 auto;
}
.title {
	line-height: 1.2em;
	position: relative;
	margin-left: 40px;
}

input#search {
	width: 350px;
	height: 35px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 2px;
	outline: none;
	border: 1px solid #ababab;
	font-size: 20px;
	line-height: 25px;
	color: #ababab;
}
input#search:hover, input#search:focus {
	color: #3b3b3b;
	border: 1px solid #36a2d2;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}
h4#results-text {
	display: none;
}
ul#results {
	display: none;
	width: 360px;
	margin-top: 4px;
	border: 1px solid #ababab;
	border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
}
ul#results li {
	padding: 8px;
	cursor: pointer;
	border-top: 1px solid #cdcdcd;
	transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
}
ul#results li:hover {
	background-color: #F7F7F7;
}
ul#results li:first-child {
	border-top: none;
}
ul#results li h3, ul#results li h4 {
	transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	color: #616161;
	line-height: 1.2em;
}
ul#results li:hover h3, ul#results li:hover h4  {
	color: #FE980F;
	font-weight: bold;
}


/* ------------------------------------------
  3 STEPS STYLES
--------------------------------------------- */

.steps-block {
    color: #fff;
    padding: 30px 0;
    background-color: #FE980F;
    font-weight: 600;
}
.steps-block-col {
    overflow: hidden;
    min-height: 71px;
}
.steps-block-col span {
    display: block;
    width: 36px;
    height: 71px;
    background: url("../../resources/images/step3-angle-right.png") no-repeat 100% 50%;
    position: absolute;
    top: 0;
    right: 10px;
}
.steps-block h2 {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
.steps-block em {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.steps-block .steps-block-col div {
    margin-left: 70px;
    margin-right: 40px;
}
.steps-block .fa-truck,
.steps-block .fa-gift,
.steps-block .fa-phone {
    font-size: 30px;
    border: solid 2px #fff;
    border-radius: 30px !important;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding-top: 13px;
    margin-right: 11px;
    float: left;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.steps-block .fa-truck:hover,
.steps-block .fa-gift:hover,
.steps-block .fa-phone:hover {
    background: #fff;
    color: #FE980F;
}

.steps-block .fa-angle-right {
    font-size: 84px;
}

