    <section id="section6" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">            <footer class="box-content">
			    <div class="footer-logo"><img src="images/logomeusmall.png" alt="" class="center-block"/></div>
                <div class="footer-social">
                    <p class="text-center">Copyright © 2015 Bruno Feijão. All Rights Reserved.</p>
                </div>
		    </footer>
          </div>
         </div>
      </div>
    </section>
